h1 {
    font-family: fantasy;
    color: yellow;
    text-align: center;
    font-size: 100px;
    text-shadow: 2px 2px;
}

body {
    background-color: aquamarine;
    background-image: linear-gradient(red,blue,white)
}

button {
    font-family: fantasy;
    font-size:70px;
    width: 500px;
    height: 400px;
    background-color: red;
    padding: 50px 100px 50px 100px;
    margin: 50px 50px 50px 50px;
    color: black;
    text-shadow: 2px 2px;
    align-self: center;
    margin-left: 800px;
    border-radius: 30%;
    box-shadow: 10px 10px;


}
